/* section "about" */
.about__info {
text-align: center;
}
.about__info-titel {
    padding: 50px 0;
}
.about__info__titel-h1 {
    font-weight: 500;
    font-size: 64px;
    user-select: none;
    color: #F59700;
    text-shadow: 
        1px 0 0 black,
        -1px 0 0 black,
        0 1.5px 0 black,
        0 -1.5px 0 black;
}
.about__info-text {
    padding-bottom: 80px;
}
.about__info__text-p {
    font-size: 20px;
    font-weight: 600;
    user-select: none;
}

.about__director {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 120px;
    gap: 15px;
}
.about__director-img {
    border: 2px solid #F59700;
    
}
.about__director-text {
}
.about__director__text-p {
    font-size: 20px;
    font-weight: 500;
    user-select: none;
}

.span{
    display: flex;
    border-bottom: 3px solid #000000;
    /* justify-content: center; */
    border-color: #F59700;
    max-width: 1650px;
    margin: 0 auto;
}




/* section "able" */

.able {
}
.container {
}
.able__info {
    padding: 70px 0;
}
.able__info-title {
}
.able__info__title-h2 {
    user-select: none;
    text-align: center;
    font-size: 40px;
    color: #F59700;
    padding-bottom: 30px;
}

.able__info__title-h3{
    font-size: 26px;
    user-select: none;
    padding: 50px 0 60px 10px; 
    text-align: center;
}
.able__info-text {
    padding-left: 30px;
    user-select: none;
}

.able__info__menu-list {
}

.able__info__menu-item {
    padding-bottom: 20px;
    line-height: 150%;
}




/* section "professional" */

.professional {
}
.container {
}
.professional__info {
    padding: 70px 0 55px 0;
}
.professional__info-title {
    padding-bottom: 50px;
    user-select: none;
    text-align: center;
}
.professional__info__title-h2 {
    color: #F59700;
    user-select: none;
    font-size: 40px;
    padding-bottom: 30px;
}
.professional__info-text {
    padding: 0 30px;
    user-select: none;
}
.professional__info__text-p {
    line-height: 150%;
    padding-bottom: 40px;
}